body{
	font-family: sans-serif;
}

.container{
	border: 2px solid black;
	width: 50%;	
}

.line{
	display: flex;
	flex-direction: row;
	max-height: 3em;
	padding-left: 1em;
	padding-right: 1em;
	
}

.firstcolumn{
	display: flex;
	flex-basis: 50%;
}

.secondcolumn{
	display: flex;
	flex-basis: 25%;
	text-align: right;
	justify-content: flex-end;
}

.milk{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.horizontal{
	border-bottom: 28px;
}

.indentation{
	flex-basis: 40%;
	margin-left: 10%;
}

.valuesection{
	justify-content: flex-end;
	text-align: right;
}

hr {
	width:  98%;
}

.verythick{
	border-top: 10px solid black;
}

.middlethick{
	border-top: 6px solid black;
}

.shortline{
	width:  87%;
	margin-left: 12%;
	margin-right:  1%;
}